.driverImage {
	display: block;
	max-height: 50vh;
	width: 100%;
}

.driverImage::after {
	background: 
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.5));
		// linear-gradient(black, transparent 10%, transparent 90%, black);
	bottom: 0;
	content: ' ';
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.page-header {
	margin-bottom: 0.4rem;
}

.page-header [class*="driverChip"] {
	align-items: center;
	color: #454545;
	font-family: museo-sans, sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1;
}

.page-header [class*="numberArtContainer"] {
	height: 4rem;
	width: 4rem;
	margin-right: 1rem;
}

.page-header [class*="numberArt"] {
	max-height: 100%;
}

.page-header [class*="numberPlate"] {
	border-width: 3px;
	border-bottom-width: 1px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 1;
	margin-right: 1rem;
	padding: 0.6rem 0 0.75rem;
	text-align: center;
	text-indent: 0.18rem;
	width: 2.2rem;
	
	&::before {
		border-radius: 3px 3px 0 0;
		height: 0.5rem;
	}
	
	&::after {
		height: 0.5rem;
	}
}

.page-header [class*="last-name"] {
	display: block;
	font-family: obvia-expanded, sans-serif;
	font-size: 2rem;
	font-style: italic;
	font-weight: 900;
	margin-left: -2px;
}

@media (max-width: 480px) {
	.page-header [class*="driverChip"] {
		font-size: 0.8rem;
	}
	
	.page-header [class*="numberArtContainer"] {
		height: 2.5rem;
		width: 2.5rem;
	}
	
	.page-header [class*="last-name"] {
		font-size: 1.5rem;
	}
}