.media {
	display: block;
	filter: saturate(110%) contrast(115%) brightness(110%);
	max-height: 50vh;
	width: 100%;
}

.media::after {
	background: 
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.5));
		// linear-gradient(black, transparent 5%, transparent 90%, rgba(0,0,0,0.5));
	bottom: 0;
	content: ' ';
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.broadcast {
	margin: 3.4rem 0.4rem 0.4rem 0;
	position: relative;
}

.broadcast iframe {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.broadcast::before {
	background: linear-gradient(112deg, 
		#d0d0d0 10%, 
		#f0f0f0 10%, 
		#f0f0f0 calc(10% + 5px), 
		#d0d0d0 calc(10% + 5px), 
		#d0d0d0 calc(10% + 10px), 
		#f0f0f0 calc(10% + 10px), 
		#f0f0f0 calc(90% - 10px), 
		#d0d0d0 calc(90% - 10px), 
		#d0d0d0 calc(90% - 5px), 
		#f0f0f0 calc(90% - 5px), 
		#f0f0f0 90%, 
		#d0d0d0 90%
	);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #222;
	content: 'Race Rewind';
	display: block;
	font-family: obvia-expanded, sans-serif;
	font-size: 0.7rem;
	font-style: italic;
	font-weight: 600;
	height: 1.4rem;
	line-height: 1.4rem;
	letter-spacing: 3px;
	top: -1.4rem;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	word-spacing: 3px;
}

.logo {
	display: block;
	max-height: 2.9525rem;
	max-width: 95%;
	margin: -0.4rem 0.4rem 0 auto;
}

.header {
	position: relative;
	margin-bottom: 0.4rem;
}

.stats {
	margin: 2rem 0.4rem 0 0.4rem;
}

.stats dl {
	// border-bottom: 2px solid #f0f0f0;
	display: grid;
	grid-template-columns: 45% auto;
}

.stats dt {
	font-family: obvia, sans-serif;
	font-size: 0.6rem;
	font-weight: 600;
	line-height: 1.6;
	grid-column: 1;
	text-transform: uppercase;
}

.stats dt::before,
.stats dd::before {
	border-top: 2px solid #f0f0f0;
	display: block;
	content: ' ';
	padding-top: 0.4rem;
}

.stats dt::after,
.stats dd::after {
	display: block;
	content: ' ';
	line-height: 0;
	margin-bottom: 0.3rem;
}

.stats dd {
	font-size: 0.65rem;
	font-weight: 100;
	grid-column: 2;
	margin: 0;
}