[class*="page-header"] + [class*="columns"] {
	margin-top: -1rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

.selectContainer {
	font-family: input-mono, mono;
	font-size: 0.6rem;
	font-weight: 300;
	margin-top: 0.4rem;
	z-index: 10;
}

.table {
	th {
		white-space: nowrap;
	}
	
	[class*="numberPlate"] {
		padding-top: 0.25rem;
		text-align: center;
	}
}