.tagline {
	background: black;
	margin: 0 -2.5rem;
}

.tagline p {
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	font-style: oblique;
	line-height: 1.5em;
	letter-spacing: 1.8px;
	margin: 0;
	padding: 0.6rem 0 1rem;
}

.tagline figure {
	border-left: 0.4rem solid black;
	border-right: 0.4rem solid black;
	margin: 0.4rem 0;
	transform: skew(-20deg);
	overflow: hidden;
}

.tagline .thumbnail {
	height: auto;
	max-width: 100%;
	position: relative;
	transform: skew(20deg) scale(1.3);
}

.tagline figure::before {
	background-color: transparent;
	/* background-image: url(../images/plus-x2.png);  */
	background-position: center;
	background-repeat: repeat;
	background-size: 8px;
	bottom: 0;
	content: ' ';
	left: 0;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
	transform: skew(20deg);
	z-index: 1;
}

.tagline figure::after {
	background-color: transparent;
	background-image: 
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.9)); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.schedule-container {
	background: 
		linear-gradient(black, transparent 10%, transparent 90%, black),
		radial-gradient(circle at center, rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
		black url(../images/track.jpg) no-repeat center/cover;
	padding: 2rem 0;
}

.schedule-container .columns {
	position: relative;
}

.schedule-container .glide__arrow {
	background: none;
	border: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

.schedule-container .glide__arrow--left {
	left: 30%;
	top: 47%;
}

.schedule-container .glide__arrow--right {
	right: 30%;
	top: 47%;
}

.schedule-container .schedule-card {
	position: relative;
	left: -1.3%;
}

.schedule-container .icon {
	color: #f4a913;
}

.tab {
	background: linear-gradient(110deg, #333, #454545 40%, #454545 60%, #333);
	border-bottom: 2px solid black;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
	justify-content: center;	
	margin: 2rem -20px 0;
	overflow: hidden;
	position: relative;
}

.tab .tab-item {
	border-right: 2px solid black;
	overflow: hidden;
	transform: skew(-20deg);
}

.tab .tab-item:first-child {
	border-left: 2px solid black;
}

.tab .tab-item a {
	color: #999;
	padding: 0.5rem 4rem;
	text-transform: uppercase;
	transform: skew(20deg);
}

.tab .tab-item a:hover,
.tab .tab-item a:focus {
	color: #f4a913;
}

.tab .tab-item.active a {
	background: #f4a913;
	border: 0;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
	color: black;
	margin: 0 -20px;
	padding: 0.5rem calc(4rem + 20px);
}

.tab-body {
	background: #f0f0f0 url(../images/bg@2x.jpg) no-repeat top/100%;
}

.tab-body h3 {
	background: linear-gradient(rgba(0,0,0,0.5), transparent 10px);
	color: white;
	font-size: 2rem;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 10px;
	padding: 3.5rem 0 5rem;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}

.tab-body table { 
	border-collapse: separate; 
	border-spacing: 0 0.2rem; 
	margin: 2rem 0;
}

.tab-body tr:nth-child(odd) td {
	background-color: white;
}

.tab-body td:first-child {
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
}

.tab-body td:last-child {
	border-bottom-right-radius: 5px; 
	border-top-right-radius: 5px; 
}