.tagline {
	background: black;
	margin: 0 -2.5rem;
}

.tagline p {
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	font-style: oblique;
	line-height: 1.5em;
	letter-spacing: 1.8px;
	margin: 0;
	padding: 0.6rem 0 1rem;
}

.tagline figure {
	border-left: 0.4rem solid black;
	border-right: 0.4rem solid black;
	margin: 0.4rem 0;
	transform: skew(-20deg);
	overflow: hidden;
}

.tagline .thumbnail {
	height: auto;
	max-width: 100%;
	position: relative;
	transform: skew(20deg) scale(1.3);
}

.tagline figure::before {
	background-color: transparent;
	/* background-image: url(../images/plus-x2.png);  */
	background-position: center;
	background-repeat: repeat;
	background-size: 8px;
	bottom: 0;
	content: ' ';
	left: 0;
	opacity: 0.4;
	position: absolute;
	right: 0;
	top: 0;
	transform: skew(20deg);
	z-index: 1;
}

.tagline figure::after {
	background-color: transparent;
	background-image: 
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.9)); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.schedule-container {
	background: 
		linear-gradient(black, transparent 10%, transparent 90%, black),
		radial-gradient(circle at center, rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
		black url(../images/track.jpg) no-repeat center/cover;
	padding: 2rem 0;
}

.schedule-container .columns {
	position: relative;
}

.schedule-container .glide__arrow {
	background: none;
	border: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

.schedule-container .glide__arrow--left {
	left: 30%;
	top: 47%;
}

.schedule-container .glide__arrow--right {
	right: 30%;
	top: 47%;
}

.schedule-container .schedule-card {
	position: relative;
	left: -1.3%;
}

.schedule-container .icon {
	color: #f4a913;
}

.tab {
	/* background: linear-gradient(110deg, black, #333 15%, #454545, #333 85%, black); */
	background: linear-gradient(110deg, black, #333 15%, #454545, #333 85%, black);
	border-bottom: 2px solid black;
	/* box-shadow: inset 0 0 20px rgba(0,0,0,0.8); */
	justify-content: center;	
	margin: 2rem -20px 0;
	overflow: hidden;
	position: relative;
}

.tab .tab-item {
	border-right: 2px solid black;
	overflow: hidden;
	transform: skew(-20deg);
}

.tab .tab-item:not(.react-tabs__tab--selected):hover {
	cursor: pointer;
}

.tab .tab-item:first-child {
	border-left: 2px solid black;
}

.tab .tab-item span {
	color: #999;
	display: block;
	padding: 0.5rem 4rem;
	text-transform: uppercase;
	transform: skew(20deg);
}

.tab .tab-item span:hover {
	color: #f4a913;
}

.tab .tab-item.react-tabs__tab--selected span {
	background: #f4a913;
	border: 0;
	/* box-shadow: inset 0 0 20px rgba(0,0,0,0.8); */
	color: black;
	margin: 0 -20px;
	padding: 0.5rem calc(4rem + 20px);
}

.tab-body {
	background: #f0f0f0 url(../images/bg@2x.jpg) no-repeat top/100%;
	position: relative;
}

.tab-body hgroup {
	background: linear-gradient(rgba(0,0,0,0.5), transparent 10px);
	padding: 3.5rem 0;
}

.tab-body h3 {
	background: linear-gradient(rgba(0,0,0,0.5), transparent 10px);
	color: white;
	font-size: 2rem;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 10px;
	padding: 3.5rem 0 5rem;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
}

.tab-body h4 {
	color: white;
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 1rem;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

.tab-body h5 {
	color: white;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

.tab-body .table-container {
	background: #f1f1f1;
	border-radius: 10px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 0.2rem 0.3rem;
}

.tab-body .table-container .screenshot:first-child {
	border-color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-style: solid;
	border-width: 0.5rem 0.5rem 0;
	margin-top: 0.1rem;
	margin-bottom: -0.2rem;
	max-height: 250px;
	position: relative;
}

.tab-body .table-container .screenshot:first-child::after {
	background-color: transparent;
	background-image: 
		/* linear-gradient(transparent calc(100% - 20px), #f1f1f1 calc(100% - 5px)),  */
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.9)); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 4px 4px 0 0;
	bottom: 0;
	box-shadow: inset 0 0 20px black;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.tab-body .table-container .screenshot:first-child img {
	border-radius: 8px;
	filter: saturate(110%) contrast(115%) brightness(110%);
}

.tab-body table { 
	border-collapse: separate; 
	border-spacing: 0 0.2rem; 
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* margin: 2rem 0; */
}

.tab-body tr:nth-child(odd) td {
	background-color: white;
}

.tab-body tr:nth-child(odd) td:first-child {
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
}

.tab-body tr:nth-child(odd) td:last-child {
	border-bottom-right-radius: 5px; 
	border-top-right-radius: 5px; 
}

.tab-body .table-container .screenshot:first-child + table tr:first-child td {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 0.3rem;
}

.tab-body tbody td {
	font-size: 1rem;
}

.tab-body tbody td:first-child {
	background-image: linear-gradient(90deg, 
		rgba(0,0,0,0) 85%, 
		rgba(0,0,0,0.05) 85%, 
		rgba(0,0,0,0.05) calc(85% + 5px),
		rgba(0,0,0,0) calc(85% + 5px)
	);
	font-weight: 700;
	padding-right: 1.2rem;
	text-align: right;
	width: 3rem;
}

.tab-body tbody td:last-child {
	font-weight: 900;
	text-align: right;
}

.tab-body tbody td:last-child::after {
	content: ' pts';
	font-weight: normal;
	white-space: nowrap;
}

.tab-body td .driverChip {
	color: #3b4351;
	max-height: 1.6rem;
	overflow: hidden;
	text-transform: uppercase;
}

.tab-body td .driverChip .last-name {
	font-weight: 900;
}

.tab-body td .numberArtContainer {
	height: 1.6rem;
	margin-right: 1rem;
	width: 1.6rem;
}

.promo {
	align-items: center;
	display: flex;
	height: 42vh;
	margin: 3rem 0;
	overflow: hidden;
	position: relative;
}

.promo::after {
	background: 
		linear-gradient(
			rgba(0,0,0,0.8), 
			transparent 1rem, 
			transparent calc(100% - 1rem), 
			rgba(0,0,0,0.8)
		), 
		radial-gradient(farthest-corner at 50% 45%, transparent 50%, rgba(0,0,0,0.9));
	bottom: 0;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.cta {
	margin: 2rem 0 0;
	text-align: center;
}

.btn {
	border-radius: 0;
	font-size: 0.6rem;
	font-weight: 900;
	transform: skew(-20deg);
	text-transform: uppercase;
	font-style: italic;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

.btn span {
	display: inline-block;
	transform: skew(20deg);
}

.btn:not(.btn-action):after {
	display: inline-block;
	content: "\2192";
	padding-left: 0.4rem;
	transform: skew(20deg);
}

.btn.btn-primary {
	background-color: #f4a913;
	border-color: #f4a913;
	color: #000;
}

.btn.btn-primary:hover {
	background-color: black;
	border-color: black;
	color: white;
}
