.toc {
	background: #f0f0f0;
	border-radius: 10px;
	margin: 0;
	padding: 0.2rem 0;
	position: sticky;
	list-style: none;
	top: 5rem;
}

.toc li {
	counter-increment: sections;
	margin: 0;
	padding: 0.2rem 1rem 0.3rem;
}

.toc li:not(:last-child) {
	border-bottom: 1px solid white;
}

.toc li::before {
	content: counter(sections) '.';
	display: inline-block;
	font-family: obvia, sans-serif;
	font-size: 0.66rem;
	font-weight: 600;
	line-height: 1;
	padding-right: 0.4rem;
}

.toc a {
	color: inherit;
	font-family: obvia, sans-serif;
	font-size: 0.7rem;
	line-height: 1;
	text-transform: uppercase;
}


.toc a:hover,
.toc a:focus {
	color: var(--highlight-color);
}

.body ol {
	margin: 0;
	counter-reset: item;
	list-style-type: none;
}

.body ol > li {
	display: grid;
	grid-template-columns: min-content 2fr;
	margin: 0.6rem 0 0.8rem;
}

.body ol > li > h3,
.body ol > li > p,
.body ol > li > ol {
	grid-column: 2;
}

.body li li:last-child {
	margin-bottom: 0;
}

.body ol > li::before {
	content: counters(item, ".") ".";
	counter-increment: item;
	display: block;
	font-family: obvia, sans-serif;
	font-size: 0.6rem;
	font-weight: 600;
	grid-column: 1;
	line-height: 2;
	margin-right: 0.8rem;
}

.body > ol > li {
	margin-bottom: 2.4rem;
}

.body > ol > li:first-child {
	margin-top: 0;
}

.body > ol > li::before {
	line-height: 3.5;
}

.body h3 {
	margin-bottom: 0.8rem;
}

.body h4 {
	font-size: 0.92rem;
	margin-bottom: 0;
}

.body pre {
	font-family: museo-sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	margin: 0;
	white-space: pre-wrap;
}

.body [class="bold"] {
	font-weight: 600;
}