.car-container {
	margin: 0;
}

.car-image {
	display: block;
	margin: 0 -1rem;
	position: relative;
	/* filter: saturate(0); */
	transform: scaleX(-1) rotate(-4deg);
}

.car-caption {
	font-size: 0.6rem;
}