.driverChip {
	display: flex;
	font-weight: 400;
	white-space: nowrap;
}

a.driverChip:link,
a.driverChip:visited {
	color: inherit;
	opacity: 1;
}

a.driverChip:hover,
a.driverChip:focus {
	color: #f4a913;
}

a.driverChip:hover .driver-name::after,
a.driverChip:focus .driver-name::after {
	/* display: inline-block; */
	/* content: "\2192"; */
	/* padding-left: 0.4rem; */
}

.driverChip.inactive {
	opacity: 0.3;
}

.numberArtContainer {
	display: flex;
	align-items: center; 
	margin: 0 0.6rem 0 0;
	width: 1rem;
	height: 1rem;
}

.numberArt {
	display: block;
	width: 100%;
	margin: 0 auto; 
	max-height: 1.8rem;
}
