.footer {
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 0.6rem;
	justify-content: center;
	margin-top: 3rem;
	padding-top: 2rem;
	text-align: center;
}

.footer .columns {
	align-items: center;
	border-top: 1px solid #333;
	margin: 2rem 0;
	padding-top: 1rem;
}

.footer img {
	filter: grayscale(100%);
	opacity: 0.5;
	max-height: 30px;
}

.footer p {
	color: #666;
	margin: 0;
}