html,
body {
	background-color: black;
	padding: 0;
	margin: 0;
	font-family: museo-sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	transition: color 150ms ease-out;
}

iframe {
	width: 100%;
	height: 85vh;
}

table {
	background: #fff;
	border: 0;
	border-collapse: separate; 
	/* border-radius: 10px; */
	border-spacing: 0 0.2rem; 
	font-family: input-mono, mono;
	font-weight: 300;
	font-style: normal;
	margin: 0 -0.4rem;
	padding: 0.4rem;
	width: calc(100% + 0.8rem);
}

tbody tr td {
	background-color: #fff;
}

tbody tr:nth-child(odd) td {
	background-color: #f0f0f0;
}

thead th:first-child,
/* tbody tr:nth-child(odd) td:first-child */ {
	border-top-left-radius: 5px; 
	/* border-bottom-left-radius: 5px; */
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

thead th:last-child,
/* tbody tr:nth-child(odd) td:last-child */ {
	/* border-bottom-right-radius: 5px;  */
	border-top-right-radius: 5px; 
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 5px; 
}

tbody tr.inactive {
	opacity: 0.3;
}

tbody tr.inactive .driverChip.inactive {
	opacity: 1;
}

th {
	border-top: 2px solid #f0f0f0;
	font-family: obvia, sans-serif;
	font-size: 0.6rem;
	font-weight: 600;
	line-height: 1;
	padding: 0.4rem 0.5rem 0.3rem;
	text-transform: uppercase;
}

th .sort-indicator {
	display: inline-block;
	transform: rotate(90deg) translate(-0.05rem, -0.4rem);
}

td { 
	font-size: 0.7rem;
	padding: 5px 10px; 
	text-align: center;
}

td:not(.cell-driver) {
	font-size: 0.65rem;
	white-space: nowrap;
	width: 8%;
}

td.cell-position {
	font-family: obvia, sans-serif;
	font-size: 0.7rem;
	font-weight: 600;
	text-align: right;
	width: 2%;
}

td.cell-change {
	background-image: linear-gradient(90deg, 
		rgba(0,0,0,0) calc(100% - 3px),
		rgba(0,0,0,0.05) calc(100% - 3px)
	);
	font-size: 0.5rem;
	padding-left: 5px;
	padding-right: 15px;
	white-space: nowrap;
	width: 2%;
}

td.cell-change .positive::before,
td.cell-change .negative::before {
	display: inline-block;
	margin-right: 0.2rem;
	transform: rotate(90deg);
}

td .positive,
td.cell-bonus {
	color: green;
}

td.cell-change .positive::before {
	content: '‹';
}

td .negative,
td.cell-penalty {
	color: red;
}

td.cell-change .negative::before {
	content: '›';
}

td.cell-totalPoints > div {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

td .adjustments {
	display: flex;
	flex-direction: column;
	font-size: 0.5rem;
	line-height: 1.3;
	position: absolute;
	right: 0;
}

td.cell-trackName,
td.cell-typeName {
	font-weight: 400;
	left: 0;
	max-width: 14rem;
	overflow: hidden;
	position: sticky;
	text-align: left;
	text-overflow: ellipsis;
}

td.cell-typeName {
	max-width: 10rem;
}

td b {
	font-weight: 500;
}

ul, ol {
	list-style-position: outside !important;
	margin-bottom: 1.2rem;
}

li p {
	margin-bottom: 0;
}

ul li, ol li {
	margin-top: .2rem;
}

h2, h3, h4, h5, h6 {
	font-family: obvia, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

p + :is(h2, h3, h4, h5, h6) {
	margin-top: 2.4rem;
}

main {
	background: 
		linear-gradient(
			rgba(255,255,255,0),
			rgba(255,255,255,1) 15rem,
			rgba(255,255,255,1) calc(100% - 15rem), 
			rgba(255,255,255,0)
		), 
		linear-gradient(
			110deg, 
			rgba(255,255,255,0.8), 
			rgba(255,255,255,0.4) 70%, 
			rgba(255,255,255,0.9)), 
		#fff url(../images/plus-x2.png) repeat center/8px;
	padding: 3.5rem 0;
}

.content {
	background: #fff;
	border-radius: 10px;
	padding: 0.5rem 0.5rem 0;
}

.page-header {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 1.5rem 0.5rem;
}

.page-title {
	color: #454545;
	display: inline-block;
	font-family: obvia-expanded, sans-serif;
	font-size: 2rem;
	font-style: italic;
	font-weight: 900;
	letter-spacing: 3px;
	line-height: 0.7;
	margin: 0;
	text-transform: uppercase;
}

.page-subtitle {
	font-family: museo-sans, sans-serif;
	font-size: 0.7rem;
	font-weight: 300;
	margin: 0.4rem 0 0;
	text-transform: uppercase;
}

.page-subtitle > span:not(:last-child) {
	border-right: 1px solid rgba(0,0,0,0.4);
	display: inline-block;
	margin-right: 0.5rem;
	padding-right: 0.5rem;
}

.page-header .cars-container {
	margin: 0;
}

.page-header .car-container {
	margin-left: 0.4rem;
}

.page-header .car-image {
	max-height: 1.5rem;
}

.page-header .car-caption {
	display: none;
}

@media (max-width: 480px) {
	.page-header .cars-container {
		margin-top: 1rem;
		margin-left: -0.4rem;
	}
	
	.page-header .car-container {
		margin-left: 0;
	}

	td .adjustments {
		right: -0.2rem;
	}
}