.license-container {
	list-style: none;
	margin: 0;
	padding: 0;
}

.license-container li {
	margin-bottom: 0.4rem;
}

.license-container li > span {
	padding: 4px 8px;
	border-radius: 4px;
}

.license-container li > span span {
	margin-left: 4px;
}