header {
	box-shadow: 0 0 10px black;
	position: relative;
}

.navbar {
	background: black;
	padding: 1rem 0;
}

.logo {
	display: block;
	height: 2.5rem;
	margin: 0;
	position: relative;
	top: 2px;
}

.navbar-section:not(:first-child):last-child {
	justify-content: flex-end;
}

@media (max-width: 480px) {
	.navbar-section {
		justify-content: center !important;
	}
}
