.track {
	div + & {
		padding-left: 1rem;	
	}
	
	h4 {
		font-family: obvia-expanded, sans-serif;
		font-size: 1rem;
		font-style: italic;
		margin-bottom: 0.1rem;
	}

	h5 {
		font-family: museo-sans, sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
		margin: 0 0 0.1rem;
	}
}

.logo {
	position: absolute !important;
	width: 300px;
	right: 34%;
	top: -12%;
	transform: scale(1.2);
	z-index: 0;
}

.logo img {
	display: block;
	margin: 0 auto;
	max-width: 300px;
}

.logo::after {
	background: 
		linear-gradient(
			110deg,
			rgba(255,255,255,1) 20%, 
			rgba(255,255,255,0.8)
		),
		linear-gradient(
			rgba(255,255,255,0.5) 20%,
			transparent 30%, 
			transparent 70%, 
			rgba(255,255,255,0.5) 80%
		);
	bottom: 0;
	content: ' ';
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	transition: 100ms ease-out;
	z-index: 1;
}