.container {
	align-items: center;
	display: flex;
	flex-direction: row !important;
	justify-content: flex-start;
}

.track {
	position: relative;
	z-index: 1;
	
	div + & {
		padding-left: 1rem;	
	}
	
	h4 {
		font-family: obvia-expanded, sans-serif;
		font-size: 1rem;
		font-style: italic;
		line-height: 1;
		margin-bottom: 0.1rem;
	}

	h5 {
		font-family: museo-sans, sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
		margin: 0 0 0.1rem;
	}
}

.logo {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	position: absolute !important;
	right: 40%;
	top: 0;
	transform: scale(1.2);
	width: 300px;
	z-index: 0;

	&::after {
		background: 
			linear-gradient(
				112deg,
				rgba(255,255,255,1) 40%, 
				rgba(255,255,255,0.8)
			),
			linear-gradient(
				rgba(255,255,255,0.5) 10%,
				transparent 30%, 
				transparent 70%, 
				rgba(255,255,255,0.5) 90%
			);
		bottom: 0;
		content: ' ';
		left: 0;
		right: 0;
		position: absolute;
		top: 0;
		transition: 100ms ease-out;
		z-index: 1;
	}

	img {
		display: block;
		margin: 0 0 0 auto;
		max-height: 3rem;
		max-width: 10rem;
	}
}

@media (max-width: 960px) {
	.logo {
		right: 42%;
	}
}

@media (max-width: 480px) {
	.logo {
		right: 8%;
	}
}