.schedule-card {
	background-color: white;
	background-image:
		radial-gradient(farthest-corner at 50% 45%, white 65%, rgba(255,255,255,0.6)), 
		url(../images/plus-x2.png); 
	background-position: center, center;
	background-repeat: no-repeat, repeat;
	background-size: 100%, 8px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px black, inset 0 0 0.6rem rgba(0,0,0,0.5);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 26vw;
}

.schedule-round {
	background: black;
	/* box-shadow: 0 0 0.6rem rgba(0,0,0,0.5); */
	color: white;
	letter-spacing: 5px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 5px;
	z-index: 1;
}

.schedule-round h3 {
	background: linear-gradient(110deg, 
		black 25%, 
		#333 25%, 
		#333 calc(25% + 5px), 
		black calc(25% + 5px), 
		black calc(25% + 10px), 
		#333 calc(25% + 10px), 
		#454545, 
		#333 calc(75% - 10px), 
		black calc(75% - 10px), 
		black calc(75% - 5px), 
		#333 calc(75% - 5px), 
		#333 75%, 
		black 75%
	);
	font-size: 0.8rem;
	font-style: italic;
	font-weight: 100;
	line-height: 1.8;
	position: relative;
	margin: 0 auto;
}

.schedule-round span span {
	font-weight: 900;
}

.schedule-track-logo {
	height: 100px;
	opacity: 0.2;
	position: absolute;
	top: 1.2rem;
	right: -20%;
	z-index: 0;
}

.schedule-details {
	align-items: center;
	background: linear-gradient(120deg, transparent 20%, white 60%, transparent);
	display: flex;
	flex-direction: row;
	padding: 1rem;
	position: relative;
	z-index: 1;
}

.schedule-date {
	border-right: 1px solid #ccc;
	letter-spacing: 5px;
	text-align: center;
	padding: 0 1rem 0 0.5rem;
}

.schedule-day {
	display: block;
	color: #f4a913;
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 0;
	line-height: 1;
}

.schedule-track {
	padding-left: 1rem;
}

.schedule-track h4 {
	font-size: 0.9rem;
	margin-bottom: 0.2rem;
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	/* white-space: nowrap; */
}

.schedule-track h5 {
	font-weight: 100;
	margin: 0;
}

.schedule-track-map {
	display: block;
	height: 150px;
	margin: 0 auto 30px;
}

.schedule-card .cars-container {
	margin: 0;
	padding: 0 1.5rem;
}

.schedule-card .car-container {
	margin: -0.2rem 0 1rem;
}

.schedule-card .car-container figcaption {
	display: none;
}

.schedule-results {
	margin-bottom: 1.2rem;
}

.schedule-result-item {
	background: linear-gradient(90deg, transparent 60%, black);
	border-color: black;
	border-style: solid;
	border-width: 0 5px 0 0;
	font-size: 0.8rem;
	line-height: 1.6;
	margin: 0 2rem 0.5rem;
	padding-left: 20px;
	overflow: hidden;
	text-align: center;
	transform: skew(-20deg);
}

.schedule-result-item:nth-child(1) {
	background: linear-gradient(110deg, transparent 60%, rgba(249,166,2,0.6));
	border-color: rgb(249,166,2);
}

.schedule-result-item:nth-child(2) {
	background: linear-gradient(110deg, transparent 60%, rgba(195,199,199,0.6));
	border-color: rgb(195,199,199);
}

.schedule-result-item:nth-child(3) {
	background: linear-gradient(110deg, transparent 60%, rgba(177,86,15,0.6));
	border-color: rgb(177,86,15);
}

.schedule-result-item > div {
	transform: skew(20deg);
}

.schedule-result-item .numberArtContainer {
	margin-right: 20px;
}

.schedule-result-item .numberArt {
	position: relative;
	top: 3px;
	transform: scale(1.6);
}

.schedule-result-item b {
	font-weight: 900;
}

.schedule-countdown {
	padding-bottom: 0.2rem;
}

.schedule-countdown h3 {
	background: linear-gradient(110deg, transparent 5%, green 30%, green 70%, transparent 95%);
	color: white;
	font-size: 0.8rem;
	font-style: italic;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 2px;
}

.schedule-countdown div {
	color: #666;
	font-size: 0.6rem;
	line-height: 1;
	text-align: center;
}

.schedule-countdown > div {
	margin: 1rem 2rem 0;
}

.schedule-countdown [class^="col-"]:not(:last-child) {
	border-right: 1px solid #ccc;
}

.schedule-countdown b {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.2rem;
}