.container {
	background-color: white;
	background-image:
		radial-gradient(farthest-corner at 50% 45%, white 65%, rgba(255,255,255,0.6)), 
		url(../images/plus-x2.png); 
	background-position: center, center;
	background-repeat: no-repeat, repeat;
	background-size: 100%, 8px;
	border-radius: 0.25rem;
	/* box-shadow: 10px 10px 20px black, inset 0 0 0.6rem rgba(0,0,0,0.5); */
	margin: 0 auto;
	padding-bottom: 1rem;
	overflow: hidden;
	position: relative;
	width: 26vw;
}

.header {
	color: var(--highlight-opposite-color);
	// letter-spacing: 3px;
	padding: 1rem 1.2rem 0 1rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 6px;
	z-index: 1;
	
	&::before,
	&::after {
		background: var(--primary-color);
		bottom: 0;
		clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
		content: ' ';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	&::after {
		background: var(--secondary-color);
		clip-path: polygon(64% 30%, 58% 90%, 100% 100%, 100% 20%);
		bottom: -0.5rem;
	}
	
	img {
		display: block;
		filter: brightness(0) saturate(1) invert(1);
		margin-right: 40%;
	}

	h3 {
		font-family: obvia-expanded, sans-serif;
		font-size: 0.8rem;
		font-style: italic;
		font-weight: 900;
		margin: 0 0 0 62%;
		position: relative;
		text-align: right;
		top: -0.8rem;
		z-index: 1;
	}
}

.container [class*="raceChip-module--logo"] {
	bottom: auto;
	right: 3rem;
	top: 5.5rem;
	transform: scale(1.5);
	
	img {
		max-height: 4rem;
		max-width: 8rem;
	}
}

.map {
	display: block;
	max-height: 8rem;
	max-width: 80%;
	margin: 1.5rem auto 2rem;
	position: relative;
	z-index: 1;
}

.container [class*="cars-container"] {
	margin: 0 0 1.5rem;
	max-width: 100%;
	padding: 0 1.5rem;
}

.container [class*="car-container"] {
	transform: scale(1.5);
	figcaption {
		display: none;
	}
}

.container [class*="raceChip-module--container"] {
	margin: 1rem 0.5rem 1rem 1.5rem;
	
	h4 {
		font-size: 0.9rem;
	}
	
	h5 {
		font-size: 0.7rem;
	}
}

.container [class*="resultsChip-module--container"] {
	margin: 0.5rem 2rem 0 2.5rem;
}

.countdown {
	h3 {
		background: linear-gradient(112deg, 
			transparent 5%, 
			green 20%, 
			green 80%, 
			transparent 95%
		);
		color: white;
		font-family: obvia-expanded, sans-serif;
		font-weight: 600;
		font-size: 0.8rem;
		font-style: italic;
		letter-spacing: 3px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		word-spacing: 2px;
	}
	
	div {
		color: #666;
		font-size: 0.5rem;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}
	
	& > div {
		margin: 1rem 2rem 0;
	}
	
	[class^="col-"]:not(:last-child) {
		border-right: 1px solid #ccc;
	}
	
	b {
		display: block;
		font-family: obvia-expanded, sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0.2rem;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 35vw;
	}	
}


@media (max-width: 840px) {
	.container {
		width: 50vw;
	}	
}

@media (max-width: 480px) {
	.container {
		width: 80vw;
		
		[class*="raceChip-module--container"] {
			margin: 1rem 0.5rem 1rem 1rem;
			
			h4 {
				font-size: 0.8rem;
			}
			
			h5 {
				font-size: 0.6rem;
			}
		}
		
		[class*="raceDate-module--date"] {
			padding-right: 0.5rem;
		}
		
		[class*="raceChip-module--track"] {
			padding-left: 0.6rem;
		}
	}	
	
	.header {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		h3 {
			font-size: 0.7rem;
			top: -0.6rem;
		}
	} 
	
	.countdown {
		h3 {
			font-size: 0.6rem;
			line-height: 1.4;
		}
		
		& > div {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
		
		b {
			font-size: 1.2rem;
		}
	}
}
