.seasons-container {
	background: 
		radial-gradient(farthest-corner at 50% 45%, transparent 60%, rgba(0,0,0,0.2)),
		linear-gradient(rgba(0,0,0,0.1), transparent 10%, transparent 90%, rgba(0,0,0,0.1)),
		linear-gradient(110deg, #e0e0e0, #f0f0f0, #e0e0e0);
	padding: 3rem 0 3.5rem;
}

.seasons-container > .column {
	padding: 0;
}
.seasons-container .glide__slides,
.seasons-container .glide__slides > .glide__slide {
	margin: 0;
}

.seasons-container .glide__arrow {
	border: 0;
	box-shadow: none;
	color: #fa9104;
	text-shadow: none;
}

.seasons-container .glide__arrow--left {
	left: -3rem;
}

.seasons-container .glide__arrow--right {
	right: -3rem;
}

.season-container {
	padding: 0 0.5rem;
}

@media (max-width: 1280px) {
	.seasons-container .glide__arrow--left {
		left: -1.6rem;
	}
	
	.seasons-container .glide__arrow--right {
		right: -1.6rem;
	}	
}

@media (max-width: 480px) {
	.seasons-container .glide__arrow--left {
		left: 0;
	}
	
	.seasons-container .glide__arrow--right {
		right: 0;
	}	

	.season-container {
		margin-left: auto;
		margin-right: auto;
	}
	
	.season-container + .season-container {
		margin-top: 1rem;
	}
}