.standings-card {
	background: linear-gradient(110deg, #333 25%, #454545, #333 75%);
	border-radius: 10px;
	color: white;
	margin: 0 0.25rem;
	overflow: hidden;
	position: relative;
}

.standings-card .header {
	background: linear-gradient(110deg, 
		black 25%, 
		#333 25%, 
		#333 calc(25% + 5px), 
		black calc(25% + 5px), 
		black calc(25% + 10px), 
		#333 calc(25% + 10px), 
		#454545, 
		#333 calc(75% - 10px), 
		black calc(75% - 10px), 
		black calc(75% - 5px), 
		#333 calc(75% - 5px), 
		#333 75%, 
		black 75%
	);
	font-style: italic;
	font-weight: 100;
	line-height: 1.2;
	margin: 0;
	text-align: center;
}

.standings-card .header b {
	font-weight: 500;
	margin-left: -0.2rem;
}

.standings-card .driver-image {
	max-height: 100px;
}

.standings-card .driver-image::after {
	background: linear-gradient(rgba(0,0,0,0.5), transparent 5%, transparent 95%, rgba(0,0,0,0.5));
}

.standings-card .driver-details {
	padding: 0 1rem;
}

.standings-card .driverChip {
	align-items: center;
	color: white;
	line-height: 1.2;
	text-transform: uppercase;
}

.standings-card .numberArtContainer {
	height: 3.5rem;
	width: 3.5rem;
}

.standings-card .numberArt {
	max-height: 100%;
}

.standings-card .last-name {
	display: block;
	font-size: 1rem;
	font-weight: 900;
}

.standings-card dl {
	border-top: 1px solid #666;
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	margin: 0;
	padding: 0.5rem 0 0.75rem;
	text-align: center;
}

.standings-card dt {
	font-size: 0.6rem;
	font-weight: 100;
	line-height: 1;
}

.standings-card dd {
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 1;
	margin: 0.2rem 0 0;
}