.driver-image {
	display: block;
	max-height: 40vh;
	width: 100%;
}

.driver-image::after {
	background: linear-gradient(black, transparent 10%, transparent 90%, black);
	bottom: 0;
	content: ' ';
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}
